.chat-box {
    align-self: stretch;
}

.chat-display {
    height: 430px;
    width: 300px; 
    border: 5px solid #778678;
    border-radius: 10px;
    font-family: VT323;
    background: #121D17;
    color: #35A65A;
    text-align: start;
    padding: 5px 10px;
    position: relative;
    overflow: scroll;
    float: left;
    transform: rotate(180deg);
}

::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-thumb{
    display: none;
}

input {
    border: 5px solid #778678;
    border-radius: 10px;
    font-family: VT323;
    background: #121D17;
    color: #35A65A;
    text-align: start;
    padding: 5px 10px;
    margin: 10px;
}