.chat-display {
    height: 50%;
    min-width: 400px; 
    border: 5px solid #778678;
    border-radius: 10px;
    font-family: VT323;
    background: #121D17;
    color: #35A65A;
    text-align: start;
    padding: 5px 10px;
    position: relative;
    overflow: hidden;
    float: left;
    transform: rotate(180deg);
}

input {
    border: 5px solid #778678;
    border-radius: 10px;
    font-family: VT323;
    background: #121D17;
    color: #35A65A;
    text-align: start;
    padding: 5px 10px;
    margin: 10px;
}